body {
  font-family: Arial, sans-serif;
}

ul {
  width: 250px;
	
  margin: auto;
  padding: 0;
  border:10px solid;
}

li {
  list-style: none;
  padding: 15px;
  margin-bottom: 5px;
}
li:hover{
	background: gray;
}