#infi-list {
  height: 300px;       /* fixed height */
  width: 250px;
  overflow-y: auto;    /* internal scroll */
  border: 10px solid black;
  padding: 0;
}

li {
  list-style: none;
  padding: 15px;
 
}
li:hover{
	background:gray;
}