body {
  font-family: Arial, sans-serif;
}

#infi-list {
  height: 300px;
  overflow-y: auto;
	border:solid 10px;
	width:200px;
}
li {
  list-style: none;
  padding: 15px;
  margin-bottom: 5px;
}
li:hover{
	background: gray;
}